* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text: #F9FAF8;
  --secondary-text: #E5E7EB;
  --footer-sec-bg: #1F2937;
  --btn-cont-bg: #3882F6;
  
  --mtext-font-size: 48px;
  --stext-font-size: 16px;
  --navh-font-size: 24px;
  --qtext-font-size: 36px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

section, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  width: 100%;
}

.sec-one {
  background-color: var(--footer-sec-bg);
  position: relative;
}

nav {
  margin-top: 1%;
  position: absolute;
  top: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 200px;
  list-style: none;
}

li, .cont-for-main p {
  color: var(--secondary-text);
}

h1 {
  color: var(--main-text);
}

.cont-for-main {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  display: flex;
  align-items: center;
}

.cont-for-main > * {
  width: 50%;
  height: 80%;
}

button {
  border: none;
  border-radius: 6px;
  padding: 5px;
  background: var(--btn-cont-bg);
  color: var(--main-text);
  width: 35%;
  max-width: 70px;
}

img[src="pics/tl.jpg"]{
  height: 80px;
}


.szn {
  background: var(--main-text);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.szn h1{
  color: var(--footer-sec-bg);
}

figure {
  display: flex;
  flex-direction: column;
  aligntems: center;
}

.szn figcaption {
  color: gray;
  font-size: 16px;
  text-align: center;
}

.pics-cont {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


img[src="pics/sleep.jpeg"] {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.quote {
  flex-direction: column;
  background: var(--secondary-text);
  color: var(--footer-sec-bg);
}

.quote p:first-of-type {
  font-size: var(--qtext-font-size);
  font-style: italic;
}

.quote p:nth-child(2){
  width: 100%;
  text-align: right;
  font-weight: bolder;
}

.pop-up {
  background: var(--main-text);
}

.blue {
  width: 90%;
  background: var(--btn-cont-bg);
  padding: 5%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  
}

.blue p {
  font-weight: bolder;
  color: var(--main-text);
}

.blue span {
  font-weight: normal;
  color: var(--secondary-text);
  font-size: 15px;
  display: block;
}

.blue button {
  border: 1px solid var(--main-text);
  width: 25%;
}

footer {
  background: var(--footer-sec-bg);
  color: var(--main-text);
}